main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 15px;
  font-size: 16px;
}

.tm-button {
  background-color: white;
  border: none;
  outline: none;
  box-shadow: -1px -1px 12px 3px rgb(232 232 232);
  border-radius: 40px;
  font-size: 20px;
  padding: 5px 30px;
}

.tm-button:hover {
  background-color: black;
  color: white;
}

.tm-button:active {
  box-shadow: none;
}

#typing-stage {
  -moz-user-select: none;
  -ms-user-select: none;
  -youbkit-touch-callout: none;
  -youbkit-user-select: none;
  background-color: white;
  border-radius: 25px;
  /* box-shadow: -1px -1px 12px 3px rgba(232, 232, 232, 1); */
  border: 1px solid black;
  font-size: 34px;
  max-width: 90%;
  padding: 20px;
  user-select: none;
  word-wrap: break-word;
  margin: 25px 0px;
  font-family: "Times New Roman", Times, serif;
}

.blink {
  background-color: black;
  color: white;
}

.word {
  padding: 0px 5px;
  border-radius: 6px;
}

.show {
  display: block;
}

.disabled {
  color: rgba(143, 143, 143, 0.253);
}

.hidden {
  display: none;
}

/* Required */

.incorrect {
  color: red;
}

.hide {
  display: none;
}

.correct {
  color: rgba(151, 151, 151, 0.562);
}

.wrong {
  color: white;
}

.wrongWord {
  color: red;
}

.correctWord {
  color: rgb(42, 182, 42);
}

@keyframes blinking {
  from,
  49.9% {
    opacity: 1;
  }

  50%,
  to {
    opacity: 0;
  }
}

#msgWordCount {
  min-width: 54%;
}

#currentWord {
  max-width: 30px;
  border: 2px solid black;
  padding: 0px 5px;
  font-size: 20px;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
  font-size: 28px;
  text-shadow: 2px 1px 5px rgba(128, 128, 128, 0.466);
}

.results div {
  border: 2px solid rgba(0, 0, 0, 0.199);
  padding: 5px 10px;
}

#wordDiv {
  text-align: center;
  font-size: 28px;
  text-shadow: 2px 1px 5px rgba(128, 128, 128, 0.466);
}

#wordDiv span {
  border: 2px solid rgba(0, 0, 0, 0.199);
  padding: 5px 10px;
}
